@charset "utf-8";
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select {
    margin: 0;
    padding: 0;
}

body,
input,
textarea,
select,
button,
table {
    font-size: 14px;
}

html {
    height: 100%;
}

body {
    min-width: 750px;
    /*height: 100%;*/
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    font-size: 28px;
    color: #fff;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
fieldset,
img,
button {
    border: 0;
    outline: none;
}

li {
    list-style: none
}

a {
    text-decoration: none;
    color: #333;
    outline: none
}

img {
    vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
button {
    font-size: 100%
}

em,
i {
    font-style: normal
}
.yellow{
    color: #fffd67;
}
.hide {
    display: none
}
.wrapper{
    position: relative;
    width:100%;
    padding-top:450px;
    background: url(../img/day02-bg1.jpg) 0 0 no-repeat;
    background-size: 750px;
}
.wrapper::before{
    content: '';
    display: block;
    width:100%;
    height:calc(100% - 650px);
    position: absolute;
    left:0;
    top:650px;
    background: url(../img/day02-bg2.jpg) 0 0 repeat-y;
    background-size: 750px;
    z-index:-1;
}
.back{
    position: absolute;
    left:10px;
    top:4px;
    display: block;
    width:72px;
    height:74px;
    overflow: hidden;
    background-position: -267px -229px;
    z-index:2;
    font-size:0;
}
.rule{
    position: absolute;
    right:10px;
    top:22px;
    display: block;
    width:100px;
    height:47px;
    overflow: hidden;
    background-position: -349px -229px;
    z-index:2;
    font-size:0;
}
.iospd .back{
    top:10px;
}
.iospd .rule{
    top:28px;
}
/*中奖列表*/
.winning-items{
    position: relative;
    width:100%;
    height:30px;
    overflow: hidden;
    margin:0 auto;
}
.winning-items ul{

}
.winning-items li{
    line-height:30px;
    text-align: center;
    font-size:24px;
    color: #fff;
}


/*积分走势图*/
.integral{
    position: relative;
    width:681px;
    height:650px;
    overflow: hidden;
    margin:0 auto;
}
.my-integral{
    position: absolute;
    top:100px;
    left:17px;
    width:140px;
    height:118px;
    overflow: hidden;
    background: #a82925;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
}
.my-integral p{
    height:26px;
    line-height:26px;
    font-size:24px;
    font-weight:bold;
    margin-top:14px;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(230, 171, 78, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.my-integral span{
    display: block;
    line-height:52px;
    font-size:52px;
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(230, 171, 78, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top:13px;
}
.integral-wrap{
    width:650px;
    height:100%;
    overflow: hidden;
    background: url("../img/integral-bg.png") no-repeat center bottom;
   background-size: 650px 469px;
    margin:0 auto;
}
.int-over .integral-box img{
    opacity:0.5;
}
.integral li{
    position: absolute;
    width:257px;
    height:255px;
    overflow: hidden;
}
.int-box1{
    left:210px;
    top:-13px;
}
.int-box2{
    left:430px;
    top:-13px;
}
.int-box3{
    left:430px;
    top:198px;
}
.int-box4{
    left:210px;
    top:198px;
}
.int-box5{
    left:0px;
    top:198px;
}
.int-box6{
    left:0px;
    top:398px;
}
.int-box7{
    left:210px;
    top:398px;
}
.int-box8{
    left:430px;
    top:398px;
}












.integral-light{
    position: absolute;
    width:100%;
    height:100%;
    background-position: 0px -106px;
    z-index:3;
    -webkit-animation:anim 60s infinite;
    -o-animation:anim 60s infinite;
    animation:anim 60s infinite;
    display: none;
}
@keyframes anim {
    0%{
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100%{
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
@-webkit-keyframes anim {
    0%{
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    100%{
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -ms-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
        transform: rotateZ(360deg);
    }
}
.integral-box{
    position: relative;
    z-index:4;
    width:126px;
    height:105px;
    overflow: hidden;
    margin:85px 0 0 78px;
}
.integral-box img{
    width:126px;
    height:105px;
}

.integral-status{
    position: relative;
    z-index:2;
    width: 132px;
    height:42px;
    overflow: hidden;
    text-align: center;
    line-height:41px;
    font-size:32px;
    margin:0 auto;
    background-position: -267px -178px;
}
.integral-status span{
    background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(rgba(255, 255, 255, 1)), to(rgba(230, 171, 78, 1)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/*已领取和可以领*/
.int-over .integral-status,.int-on .integral-status{
    background-position: -605px -106px;
}
.int-over .integral-status span{
    color: #e8d880;
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e8d880;
}
/*可以领取*/
.int-on .integral-light{
    display: block;
}
.int-on::before{
    content: '';
    display: block;
    position: absolute;
    left: 58px;
    top: 0px;
    width:144px;
    height:49px;
    overflow: hidden;
    background-position: -451px -106px;
    -webkit-animation:fadeIn 2s both infinite;
    -o-animation:fadeIn 2s both infinite;
    animation:fadeIn 2s both infinite;
}
@keyframes fadeIn {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(90px);
        opacity:1;
    }
}
@-webkit-keyframes fadeIn {
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(90px);
        opacity:1;
    }
}

.int-on .integral-box{
    -webkit-animation:beat 2s both infinite;
    -o-animation:beat 2s both infinite;
    animation:beat 2s both infinite;
}
@keyframes beat {
    0%{
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
        transform: rotateZ(0);
    }
    5%{
        -webkit-transform: rotateZ(20deg);
        -moz-transform: rotateZ(20deg);
        -ms-transform: rotateZ(20deg);
        -o-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }
    10%{
        -webkit-transform: rotateZ(-20deg);
        -moz-transform: rotateZ(-20deg);
        -ms-transform: rotateZ(-20deg);
        -o-transform: rotateZ(-20deg);
        transform: rotateZ(-20deg);
    }
    15%{
        -webkit-transform: rotateZ(20deg);
        -moz-transform: rotateZ(20deg);
        -ms-transform: rotateZ(20deg);
        -o-transform: rotateZ(20deg);
        transform: rotateZ(20deg);
    }
    20%{
        -webkit-transform: rotateZ(0);
        -moz-transform: rotateZ(0);
        -ms-transform: rotateZ(0);
        -o-transform: rotateZ(0);
        transform: rotateZ(0);
    }
}


/*动态线条*/
.int-line{
    position: absolute;
    left:0;
    top:0;
    width:681px;
    height:650px;
}
#path{stroke-dasharray: 2400;stroke-dashoffset: 2400;}
.int-line-act #path{
    animation:dash 2s 0s linear forwards;
}
@keyframes dash {
    to {stroke-dashoffset: 0;}
}
/*做任务*/
.task{
    margin-top:75px;
    padding-bottom: 10px;
}
.task h1{
    width:748px;
    height:96px;
    margin:0 auto 0;
    overflow: hidden;
    background-position: 0px 0px;
    font-size:0;
}
.task-items{
    padding:0 30px;
}
.task-items li{
    position: relative;
    width:100%;
    height:132px;
    overflow: hidden;
}
.task-items li+li::before{
    content: '';
    display: block;
    width:647px;
    height:2px;
    overflow: hidden;
    background-position: 0px -371px;
}


.task-over .task-progress{
    display: none;
}
.task-over .task-btn{
    top:0 !important;
}
.task-special .task-btn{
    position: relative;
    top:-10px;
}
.task-t{
    position: relative;
    padding-left: 50px;
    width:270px;
    height:132px;
    float: left;
    font-size:28px;
    color: #fff;
    font-weight:bold;
    display: table;
}
.task-t span{
    display: table-cell;
    vertical-align: middle;
}
.task-t::before{
    content: '';
    display: block;
    position: absolute;
    left:0;
    top:50px;
    width:26px;
    height:26px;
    overflow: hidden;
    background-position: -450px -178px;
}
.task-integral{
    float: left;
    line-height:132px;
    font-size:28px;
    color: #ffda7c;
    font-weight:bold;
}
.task-btn{
    display: block;
    float: right;
    width:174px;
    height:62px;
    overflow: hidden;
    background-position: -267px -106px;
    font-size:0;
    margin-top:35px;
}
.task-over .task-btn{
    background: none;
    font-size:28px;
    color: #ffffff;
    text-align: right;
    line-height:62px;
    font-weight:normal;
}
.task-progress{
    position: absolute;
    right:0;
    bottom:0;
    font-size:24px;
    color: #fff;
    line-height:50px;
}
.task-progress i{
    color: #76c25c;
}

/*版权*/
.copyright{
    background: #450606;
    font-size:20px;
    color: #8d3535;
    line-height:34px;
    text-align: center;
    padding:80px 0;
}

/*弹窗*/
.pop{
    position: fixed;
    overflow: hidden;
    z-index: 100;
}
.pop,.pop-layer{
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}
.pop-layer{
    position: absolute;
    background: rgba(0,0,0,.6);
}
.pop-in{
    position: absolute;
    z-index:101;
    left:50%;
    top:50%;
    margin-left:-321px;
    margin-top:-405px;
    width:602px;
    background: #a42c2d;
    padding:0 20px 20px;
    -webkit-border-radius:18px;
    -moz-border-radius:18px;
    border-radius:18px;
}
.pop-t{
    width:322px;
    height:67px;
    overflow: hidden;
    background: #831c1d;
    font-size:36px;
    color: #ffffff;
    text-align: center;
    line-height:67px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin:0 auto;
}
.pop-close{
    position: absolute;
    right:0;
    top:0;
    display: block;
    width:32px;
    height:32px;
    padding:16px;
    overflow: hidden;
}
.pop-close span{
    display: block;
    width:100%;
    height:100%;
    background-position: -408px -178px;
}
.pop-c{
    width:562px;
    padding:1px 20px;
    background: #812323;
    font-size:28px;
    color: #f7bfbf;
    line-height:40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top:60px;
}
.pop-c p{
    margin:37px 0;
}

.pop-in,.pop-guess{
    -webkit-animation: bounceIn .5s both;
    animation: bounceIn .5s both;
}
/*禁止长按复制图片*/
.integral img{
    -webkit-touch-callout: none; /* disables the callout */
    pointer-events: none;/*禁用鼠标*/
}
@-webkit-keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes bounceIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3);
        transform: scale(.3)
    }

    50% {
        opacity: 1;
        -webkit-transform: scale(1.05);
        transform: scale(1.05)
    }

    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}



.pop-reward .pop-in{
    margin-top:-230px;
}
.pop-reward .pop-c{
    position: relative;
    height:310px;

}
.pop-reward .pop-c::after{
    content: '';
    display: block;
    position: absolute;
    top:0;
    left:50%;
    margin-left:-128.5px;
    width: 257px;
    height: 255px;
    background-position: 0px -106px;
}
.pop-reward .pop-c img{
    display: block;
    width:153px;
    margin:72px auto 0;
}
.pop-reward .pop-c p{
    font-size:40px;
    color: #ffda7c;
    text-align: center;
}
.pop-guess{
    position: fixed;
    width:440px;
    height:183px;
    left:50%;
    top:50%;
    margin-top:-91px;
    margin-left:-220px;
    overflow: hidden;
    background: rgba(28,1,0,0.9);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    z-index:99;
}
.pop-guess ul{
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}
.pop-guess ul::after{
    position: absolute;
    left:50%;
    top:62px;
    margin-left:-90px;
    display: block;
    content: '';
    width:180px;
    height:27px;
    overflow: hidden;
    background-position: -556px -172px;
}
.pop-guess li{
    flex:1;
    position: relative;
}
.pop-guess li div{
    width:146.6px;
    height:150px;
    overflow: hidden;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.pop-guess li div img{
    max-width:99px;
    margin: 0 auto;
    vertical-align: middle;
}
.pop-guess p{
    position: absolute;
    width:100%;
    bottom:5px;
    font-size:22px;
    color: #ffda7c;
    text-align: center;
}
.toast {
    line-height: 44px;
    width: 580px;
    padding: 30px 40px;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    font-size: 32px;
    border-radius: 8px;
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 111;
    transform: translate(-50%, -50%);
    text-align: center;
}
.back,.rule,.integral-light,.integral-status,.int-on::before,.int-over .integral-status,.int-on .integral-status,.task h1,.task-items li+li::before,.task-t::before,.task-btn,.pop-close span,.pop-reward .pop-c::after,.pop-guess ul::after{
    background-image: url(../img/sprite.png);
    background-size: 748px;
}